.container {
  width: 600px;
  height: 200px;
  /* background-color: #4484CE; */
  /* background-color: #f3a801; */
  background-color: white;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  border-radius: 10px;
  border: 1px solid white;
  -webkit-box-shadow: 0px 0px 5px 0px #000000;
  box-shadow: 0px 0px 5px 0px #000000;
  margin: 15px;
}

.top {
  grid-row: 1/2;
  background-color: #003785;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.topPremium {
  grid-row: 1/2;
  background-color: #f3a801;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.premiumName {
  color: #000000;
  font-size: 20px;
  margin-right: 40px;
  display: flex;
  justify-content: center;
}

.star {
  margin-left: 8px;
}

.bottom {
  grid-row: 2/4;
  border-radius: 0 0 10px 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.name {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 500;
}

.premium {
  margin-right: 40px;
  font-size: 15px;
  display: flex;
  padding: 10px;
}

.icon {
  display: flex;
  padding-left: 8px;
}

.divImgProfile {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 130px;
}

.divImgProfile a:hover {
  background-color: transparent;
}

.imgProfile {
  border: 2px solid #003785;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.imgProfilePremium {
  border: 2px solid #f3a801;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.data {
  grid-column: 2/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.job {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 400;
}

.location {
  grid-column: 5/6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.linkStyled {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.linkStyled:hover {
  background-color: transparent;
  color: #cfd1d4;
}
