.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.about-card{
    background-color: red;
}

.container {
    margin-top: 30px;
    width: 45%;
}

.filterContainer {
    width: 45%;
}

.all .carousel {  
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}