.all-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.about-card{
    background-color: red;
}

.container {
    margin-top: 30px;
    width: 45%;
}

.filter-container {
    width: 45%;
}