.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
}
.about-card {
  background-color: red;
}

.container {
  margin-top: 30px;
  width: 45%;
}

.filterContainer {
  width: 45%;
}

.containerTitle {
  color: aliceblue;
  font-family: "Anton", sans-serif;
  font-family: "Bebas Neue", cursive;
  font-size: 6rem;
  width: fit-content;
  margin: 1%;
  filter: drop-shadow(3px 3px 1px #256d85) drop-shadow(3px 3px 2px #256d85)
    drop-shadow(3px 3px 2px #256d85);
}

.carouselNew {
  display: flex;
  align-items: center;
  justify-content: center;
}
