.container{
    padding: 0;
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0px auto;
    overflow: hidden;
}

.p{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}