.popUp{
    height: 10vh;
    width: 29vw;
    /* border: 3px solid #04f7ff;  */
    margin-left: 1vh;
    display: flex;
    gap:1vw;
    border-radius: 10px;
    padding: 5px;
}

.link{
    text-decoration: none;
    color: black;
}

.popUp:hover{
    background-color: rgb(230, 230, 230);
}

.right{
    margin-top: 2%;
}