.CardsDIV{
    display: flex;
    width: max-content;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}
.OutterCardsDIV{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
