.all {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/escalera.jpg");
  background-size: cover;
}

.containerSetting {
  position: relative;
  display: flex;
  width: 60%;
  padding: 10rem;
  height: 850px;
  margin: 2%;
  padding-top: 3%;
  border: 1px black;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  
}

.containerSetting h1 {
  color: aliceblue;
  justify-content: center;
  align-items: center;
  font-family: "Anton", sans-serif;
  font-family: "Bebas Neue", cursive;
  font-size: 6rem;
  letter-spacing: 4px;
  filter: drop-shadow(3px 3px 1px #000000) drop-shadow(3px 3px 2px #000000)
    drop-shadow(3px 3px 2px #000000);
}

.bloke {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  margin-top: 2%;
}

.bloke h3 {
  color: rgb(6, 7, 7);
  font-family:'Times New Roman', Times, serif;
  font-size: 2.5rem;
  font-style: italic;
  
  
}

.campos {
  position: absolute;
  margin-left: 20%;
  
}
.im{
  position:relative;
  margin-left: 16.4%;
  
}
.UploadIMGDIV{
  display: flex;
  flex-direction: row;
  margin: 0.5%;
  padding: 5%;
}
.btnImg {
  
} 
 /* 
.UploadIMGDIV {
  display: flex;
  align-items: center;
  padding: 1rem;
} 
.imageUpload {
  display: flex;
  position: absolute;
  align-items: center;
  margin-top: 2.5%;
  margin-left: 37.5%;
} */

.Jobs {
  width: 100px;
}

.infoExtra button {
  margin-top: 2.5%;
  margin-left: 95%;
  position: absolute;
  right: 17%;
  bottom: 17%;
}
.premium {
  padding: 1%;
  margin-top: 2%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
}

.premium h3 {
  width: 800px;
}

.premium button {
}
/* 
.panel {
  box-shadow: none;
}
.panel-heading {
  border-bottom: 0;
}
.panel-title {
  font-size: 17px;
}
.panel-title > small {
  font-size: 0.75em;
  color: #999999;
}
.panel-body *:first-child {
  margin-top: 0;
}
.panel-footer {
  border-top: 0;
}

.panel-default > .panel-heading {
  color: #333333;
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.07);
}

form label {
  color: #999999;
  font-weight: 400;
}

.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}

.profile__contact-info-icon {
  float: left;
  font-size: 18px;
  color: #999999;
}
.profile__contact-info-body {
  overflow: hidden;
  padding-left: 20px;
  color: #999999;
}
.profile-avatar {
  width: 200px;
  position: relative;
  margin: 0px auto;
  margin-top: 196px;
  border: 4px solid #f3f3f3;
}

.pad {
  width: 10%;
  padding-right: 4rem;
}

.imgName {
  margin-left: 15px;
  margin-right: 15px;
}
.SuccessIMG {
  color: green;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.jobsStyle {
  display: flex;
  justify-content: center;
  align-items: center;
} */
