.containerCards {
  display: flex;
  flex-direction: row;
}

.boxContainer {
  display: flex;
  width: 90%;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.card {
  position: relative;
  width: 250px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  background: #f5f6fa;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.card:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0;
  background: #256d85;
  transition: all 0.5s ease;
}
.box-container .card:hover {
  /* %% Card on hover %% */
}

.card:hover:before {
  height: 165px;
}

.card:hover .social {
  margin-top: 50px;
}
.card:hover .pic {
  width: 120px;
  height: 120px;
  margin-top: 50px;
  box-shadow: 0px 0px 10px 1px #888;
}
.card:hover .content {
  margin-top: 60px;
}
.social {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 0;
  margin-top: -30px;
  text-align: center;
  transition: margin-top 0.5s ease;
}
.social div {
  text-decoration: none;
  color: #2d3436;
  padding: 2px;
  font-size: 18px;
  color: #fff;
}
.pic {
  position: relative;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  width: 140px;
  height: 140px;
  overflow: hidden;
  transition: all 0.5s ease;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.content {
  margin-top: 90px;
  text-align: center;
  padding: 0 30px;
  color: #2d3436;
  transition: margin-top 0.5s ease;
}
.title {
  margin-bottom: 0;
  font-family: "Yantramanav", sans-serif;
  font-size: 22px;
}
.content span {
  font-size: 12px;
  letter-spacing: 1.5px;
}
.content a {
  margin: 20px 0;
  font-size: 12px;
  line-height: 1.6;
  color: #b0b0b0;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btnLeft {
  margin: 4px;
  transition: all 1.2s ease;
  box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.3);
}

.btnLeft:hover {
  transform: translateY(4px);
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.3);
}

.btnRight {
  margin: 4px;
  transition: all 1.2s ease;
  box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.3);
}

.btnRight:hover {
  transform: translateY(4px);
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.3);
}

.rating span {
  justify-content: center;
  font-size: 1.5rem;
}
