.shadow-effect {
  display: flex;
  width: 420px;
  height: 170px;
  margin: 0 auto;
  flex-direction: row;
  background: #fff;
  padding-top: 10px;
  border-radius: 14px;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.12), 0px 5px 7px rgba(0, 0, 0, 0.5);
}

.shadow-effect p {
  font-family: "Anton", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin: 3%;
}

.testimonial-name {
  display: absolute;
  flex-direction: column;
  font-size: 1rem;
  margin: 0 auto;
  margin-top: 2%;
  background: linear-gradient(135deg, #ffffff, #ffffff);
  height: 65px;
  width: 220px;
  border-radius: 12px;
  color: rgb(61, 61, 61);
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.12), 0px 5px 7px rgba(0, 0, 0, 0.5);
  transition: 1.2s;
}

.testimonial-name h5 {
  max-height: 2px;
  margin-top: 4%;
  font-size: 1.7rem;
  font-family: "Anton", sans-serif;
  font-family: "Bebas Neue", cursive;
}

.testimonial-name small {
  display: flex;
  margin-top: 12%;
  justify-content: center;
  font-family: "Anton", sans-serif;
  font-family: "Bebas Neue", cursive;
  font-size: 1.2rem;
}

#customer-testimonoals .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 60px;
  opacity: 0.2;
  transform: scale3d(0.8, 0.8, 1);
}

#customer-testimonoals .owl-item.active.center .item {
  opacity: 1;
  transform: scale3d(1.2, 1.2, 1);
}

#customer-testimonoals .owl-item.active.center .item .shadow-effect,
.testimonial-name {
  background: linear-gradient(100deg, #717477, #818181);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ffffff;
  transform: translate3d(0px, -50%, 0px) scale(0.8);
}
.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}
.owl-carousel .owl-dots .owl-dot span {
  background: #ffffff;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
}

.title {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 800px;
  background-image: linear-gradient(0, #d7d9db 45%, transparent 45%);
  border-radius: 4px;
  font-size: 3.2rem;
  font-family: "Anton", sans-serif;
  font-family: "Bebas Neue", cursive;
}
