.card{
    flex:1;
    /* border: 3px solid #24fafa; */
    box-shadow: 5px 5px 5px 5px rgba(2, 0,2, 0.1);
    border-radius: 10px;
    height: 15vh;
    width: 32vw;
    overflow-y: hidden;
    background-color: rgb(255, 255, 255);
    transition: all 2s;
    max-height: 70vh;
}

.card:hover{
    flex:500px;

}