.home {
  display: grid;
  background-color: #06283d;
  grid-template-columns: repeat(10, 1fr);
}

.perfil {
  grid-column: 1/2;
  height: 100vh;
  background-color: #06283d !important;
}

.container {
  grid-column: 2/11;
  background-color: #eaeaea;
}
.errormessage h1{
  border: 1px solid black;
  border-radius: 5%;
  padding: 3rem;
}
.carrusel {
  padding-top: 15px;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.filters {
  margin-top: 15px;
}

.workers {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
}

.divWorker {
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: 2s ease all;
}

.divWorkerHidden {
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: 2s ease all;
}

.pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.footer {
  margin: auto;
  padding-top: 7%;
  width: 80%;
}

.perfil {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
}

.divImg {
  padding: 100px;
}
