.featured{
    width: 300px;
    height: 300px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.4); 
    box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.4);
    padding: 10px;
    border-radius: 15px;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.title{
    color: grey;
    font-weight: 300;
    font-size: 20px;
    margin: 0;
}

.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featuredChart{
    width: 125px;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.divObjective{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.objective{
    color: #000000;
    font-size: 30px;
    margin: 0px;
}

.icon{
    font-size: 40px;
    margin-left: 20px;
}