li {
    list-style: none;
}
.footer{
    margin: 0px;
    padding: 0px;
    left:0;
    right: 0;
    bottom: 0;
    list-style: none;
    text-decoration: none;
}
link {
    text-decoration: none;
}
/* a:visited {
    color: #000;
}
 */