.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.horizontal {
  flex-direction: row;
}

.horizontal div:nth-child(1) {
  margin-right: 15px;
}
.horizontal div:nth-child(3) {
  margin-left: 15px;
}

.jobsStyle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  margin-top: 10px !important;
}
