.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search fieldset {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 40px;
}
