.CardDiv{
    background: rgb(57,91,100);
    background: linear-gradient(3deg, rgba(57,91,100,1) 0%, rgba(184,216,226,1) 100%);
    width: 35vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin:40px;
    border-radius: 20px;

}
.CardDiv img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top:20px;
    margin-bottom: 5px;
}
.imgDiv{

    display: flex;
    justify-content: center;
}
.atributos{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    background-color: rgb(196, 185, 185);
    height: 35vh;
    border-radius: 5px 5px 20px 20px;
}
.atributos h3{
    margin-top:10px;
}