.conteiner {
  display: flex;
  width: 750px;
  height: 200px;
  padding: 5px;
  border-radius: 10px;
  border: solid 2px #06283d;
  backdrop-filter: blur(10px);
  font-family: "Exo 2", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.divImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin: 1%;
}

.divImg img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.divDescription {
  width: 380px;
  margin-top: 2%;
  margin-left: 10px;
}

.divName h2 {
  font-size: 1.5rem;
  color: black;
  font-family: "Exo 2", sans-serif;
}

.chip {
  display: flex;
  flex-direction: row;
  color: white !important;
  font-weight: bold;
  background-color: #06283d !important;
  width: fit-content;
  /* margin-top: 2%; */
  margin-bottom: 2%;
}

.information h3 {
  font-size: 1.2rem;
}

.divRating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
}

.perfilLink button {
  margin-top: 10%;
  margin-left: 14%;
  background-color: #06283d;
  width: 100px;
}

.remove button {
  background-color: transparent;
  border: 2px solid red;
  color: red;
}

.remove button:hover {
  background-color: red;
  color: white;
}
