.mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middleContainer {
  background-color: rgba(253, 253, 253, 0.486);
  width: auto;
  border-radius: 4px;
  height: auto;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.topInformation {
  background-color: #1976d2;
  border-radius: 4px;
  padding: 7px 0;
  text-align: center;
  width: 100%;
  color: #ffffff;
  letter-spacing: 2px;
}

.stepper {
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userType {
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userType Button {
  height: 70px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 20px;
  font-size: 15px;
}

.userForm {
  padding: 15px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}