.contract{
    display: flex;
    /* border: 3px solid #24fafa; */
    border-radius: 10px;
    width: 40vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 6vh;
    box-shadow: 5px 5px 5px 5px rgba(8, 8, 8, 0.1);

    transform: 'translate(-50%, -50%)';
    background-color:rgb(255, 255, 255);
}

.inputContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50%;
  }