.c-left{
    padding-left: 1.8%;
    display: flex;
    flex-direction: column;
    width: 11rem;
    gap: 0.3rem;
    /* border: 3px solid #73AD21; */
}

.c-description{
    /* border: 3px solid #73AD21; */
    margin-top: 1rem;
}

.c-right{
    /* border: 3px solid #73AD21; */
    padding-left: 1.8%;
    display: flex;
    flex-direction: column;
    margin: solid 1px black;
    height: 9rem;
    width: 40rem;
    margin-bottom: 1rem;
}

.c-rating{
    /* border: 3px solid #73AD21; */
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

.commentBoxContainer {
    flex: 6 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    transition: all .5s;
    background: #ffffff;
    display: flex;
    box-shadow: 5px 5px 5px 5px rgba(8, 8, 8, 0.1);
    justify-content: start;
    align-items: center;
}