/* From uiverse.io by @joe-watson-sbf */
.opinion {
    width: 100%;
    max-width: 1000px;
    min-height: 20vh;
    border-radius: 4px;
    display: flex;
    gap: 5px;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    flex-direction: column;
  }
  
  .opinion p {
    flex: 6;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    transition: all .5s;
    background: #ffffff;
    display: flex;
    box-shadow: 5px 5px 5px 5px rgba(8, 8, 8, 0.1);
    justify-content: start;
    align-items: center;

  }
  
  .opinion p:hover {
    flex: 10 ;
  }
  

  



  .o-img  {
    --size: 7rem;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: relative;
    transition: all .3s ease-in-out;
    object-fit: cover;
   }



   