/* From uiverse.io by @alexruix */
/*Magic card*/
.card {
    border-radius: 10px;
    width: 28.5rem;
    height: auto;
    background: #ffffff;
    overflow-y: visible;
    box-shadow: 5px 5px 5px 5px rgba(8, 8, 8, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    
   }
   
   .card-info {
    display: flex;
    flex-direction: column;

    /* gap: 1em; */
    /* padding: 0 1rem; */
 
    margin-top: 1.5rem;
    position: relative;
    top: -9rem;
   }
   
   .card-img {
    --size: 15rem;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transform: translateY(-50%);
    background: #42caff;
    background: linear-gradient(to bottom, #42caff 0%, #e81aff 100%);
    position: relative;
    transition: all .3s ease-in-out;
   }

   .card-img>:nth-child(1){
        --size: 15rem;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        background: #42caff;
        background: linear-gradient(to bottom, #42caff 0%, #e81aff 100%);
        position: relative;
        transition: all .3s ease-in-out;
        object-fit: cover;
    }

   
   .card-img::before {
    content: "";
    border-radius: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
    border: 1rem solid #e8e8e8;
   }

   .card-img>:nth-child(1)::before{
    content: "";
    border-radius: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
    border: 1rem solid #e8e8e8;
    object-fit: cover;
}

   
   /*Text*/
   .text-title {
    width: 100%;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #42caff;
    letter-spacing: 0.05rem;
    text-align: start;
   }
   
   .text-body {
    width: 100%;
    font-size: 1.1em;
    text-align: start;
    color: #6f6d78;
    font-weight: 400;
    font-style: italic;
    text-align: start;
    
   }
   
   /*Hover*/
   .card-img:hover > :nth-child(1){
    --size: 17rem;
    width: var(--size);
    height: var(--size);
   }
   .card-img:hover {
    --size: 17rem;
    width: var(--size);
    height: var(--size);
   }


   /* .card-img>:nth-child(1):hover{
    --size: 17rem;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
} */

.contactar{
    /* border: 3px solid #73AD21; */
    width: 100%;
    display: flex;
    justify-content: space-around;
 
    margin-top: 4vh;
}

.job-title{
    width: 100%;
    display: flex;
    justify-content: start;
    color:#7C8097;
    font-size: 1.2em;
    font-weight: 100;
    font-family:roboto;
  }