html {
  background-color: rgba(226, 226, 226, 0.699);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.worker {
  width: 10px;
  font-size: 1.1em;
  text-align: start;
  color: #6f6d78;
  font-weight: 400;
}

.w-portada > :nth-child(1) {
  width: 98vw;
  height: 30vh;
  background-color: aqua;
}

.w-content {
  display: flex;
}

.w-right {
  margin-left: 2vw;
  margin-top: 1vh;
  width: 55vw;
  margin-bottom: 3rem;
  /* border: 3px solid #73AD21; */
  /* display: flex;
      flex-direction: column;
      justify-content: space-between; */
}

.w-left {
  padding-left: 3rem;

  height: 100%;
  top: 1vh;
  /* border: 3px solid #73AD21; */
  position: sticky;
  /* border: 3px solid #73AD21; */
  /* position: fixed; */
}

.pagination {
  width: 100%;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  box-shadow: 5px 5px 5px 5px rgba(8, 8, 8, 0.1);
  display: flex;
  justify-content: space-around;
  background: #ffffff;
  border-radius: 10px;
}

.worker-button {
  width: 18vh;
  border-radius: 19px;
  border: none;
  color: white;
  font-size: 17px;
  padding: 11px 26px 11px 26px;
  /* background:linear-gradient(to right,#731ffcd5 -2%,#fc2bf1d2 99.36%); */
  background: linear-gradient(to bottom right, #5e5aec, #3f9efc);

  box-shadow: 0px 20px 24px 3px rgba(40, 72, 251, 0.42);
}

.worker-button:hover {
  background: rgb(255, 255, 255);
  cursor: pointer;
  /* color: green; */
  color: black;
  border: 1px solid var(--orange);
}

.filters-worker {
  width: 100%;
  max-width: 1000px;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  margin-top: 2vh;
  box-shadow: 5px 5px 5px 5px rgba(8, 8, 8, 0.1);
  display: flex;
  justify-content: space-around;
  background: #ffffff;
  border-radius: 10px;
}

.w-buttons {
  height: 3vh;
}

.contracts-worker {
  width: 97.5%;
  padding: 1vh;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  margin-top: 2vh;
  box-shadow: 5px 5px 5px 5px rgba(8, 8, 8, 0.1);
  background: #ffffff;
  overflow-x: scroll;
}
