@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.container {
  background: rgb(0, 48, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 48, 255, 0.19931722689075626) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  position: relative;
  z-index: 1;
}

.premiumContainer {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  margin-left: 8%;
  width: 1400px;
  background: rgba(139, 137, 70, 0.25);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  box-shadow: 10px 10px 80px 10px rgba(154, 154, 154, 0.479);
}

.carouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titletypo {
  position: absolute;
  border-radius: 4px;
  font-family: "Anton", sans-serif;
  font-family: "Bebas Neue", cursive;
  font-size: 180px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  opacity: 0.8;
  z-index: 2;
  top: 0;
  background: url("../../assets/back.png");
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}

.subTitletypo {
  position: absolute;
  z-index: 2;
  color: #fff;
  font-family: "Lobster", cursive;
  font-size: 40px;
  top: 220px;
  border-bottom: 4px solid white;
}

.testimonials {
  margin-top: 5%;
  opacity: 1;
  transition: all 2s ease;
}

.testimonialsHidden {
  margin-top: 5%;
  opacity: 0;
  transition: all 2s ease;
}

.footer-links {
  align-items: center;
}
.expo-cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.expo-cards__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5%;
  margin: 0.5%;
}
.containerOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.card {
  margin-left: 50px;
  margin-top: 20px;
  padding: 30px;
}

.titlecontainer {
  width: 350px;
  text-align: start;
}

.card h3 {
  width: max-content;
  font-size: 25px;
  font-weight: 600;
  margin: 10px;
  padding: 5px;
  border-radius: 4px;
  text-align: start;
  background-image: linear-gradient(0, #d7d9db 45%, transparent 45%);
}

.description {
  font-weight: 500;
  font-size: 20px;
  text-align: start;
  min-width: 350px;
  margin-bottom: 18px;
}

.desc {
  margin: 10px;
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
