.landing-container{
    background-color: #bbccbc;
}
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.header-container h1{
    margin-left: 8.5%;
}
.header-container p{
    width: 470px;
}

.footer-links{
    align-items: center;
}

.containerOptions{
    display: flex ;
    justify-content: center ;
    align-items: center ;
    margin-top: 50px;
}

.title {
	background-image: linear-gradient(
		0,
		#d7d9db 45%,
		transparent 45%
	);
    border-radius: 4px;
    padding: 5px 15px;
}

.card {
    margin-left: 50px;
    margin-top: 20px;
    padding: 30px;
}

.titlecontainer {
    width: 350px;
    text-align: start;
}

.card h3 {
    width: max-content;
    font-size: 25px;
    font-weight: 600;
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
    text-align: start;
    
    background-image: linear-gradient(
		0,
		#d7d9db 45%,
		transparent 45%
	);
}



.description {
    font-weight: 500;
    font-size: 20px;
    text-align: start;
    min-width: 350px;
    margin-bottom: 18px;
}

.desc {
    margin: 10px;
}