.landing-container{
    /* background-image: url(https://img.freepik.com/foto-gratis/apreton-manos-primer-plano-ejecutivos_1098-1384.jpg?w=740&t=st=1664309006~exp=1664309606~hmac=2ad80b49801f550924d68da1ede9c1342276c349765d553fd05dec53e863a697); */
    /* background-size: contain;
    background-repeat: no-repeat;
    width: 100%; */
    background-color: #bbccbc;
}
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.header-container h1{
    margin-left: 8.5%;
}
.header-container p{
    width: 470px;
}

.footer-links{
    align-items: center;
}
.expo-cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.expo-cards__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .5%;
    margin: .5%
}