.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background: #bbcc;
}
li{
    display: inline-block;
    list-style:  none;
    padding-left:20px;
    padding-right:20px;
}
a{
    color: #000;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

a:hover {
    color:black;
    background-color:lightgray;
}
.left{
    flex-direction: row;
}
.title-about{
    display: inline-block;
}

.buttons {
    display: flex;
}

.test:hover {
    background-color: none;
}

@media (max-width: 1350px) {
    .recipesDiv{

    }
}
 
